/*reset*/
blockquote, body, dd, dl, dt, fieldset, figure, h1, h2, h3, h4, h5, h6, hr, html, iframe, legend, li, ol, p, pre, textarea, ul { margin: 0; padding: 0 }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: 400 }
ul { list-style: none }
button, input, select, textarea { margin: 0 }
html { -webkit-box-sizing: border-box; box-sizing: border-box }
*, ::after, ::before { -webkit-box-sizing: border-box; box-sizing: border-box }
audio, img, video { height: auto; max-width: 100% }
iframe { border: 0 }
table { border-collapse: collapse; border-spacing: 0 }
td, th { padding: 0; text-align: left }
html { background-color: var(--white); font-size: 16px; -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; min-width: 300px; overflow-x: hidden; overflow-y: scroll; text-rendering: optimizeLegibility; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; text-size-adjust: 100% }
article, aside, figure, footer, header, hgroup, section { display: block }
body, button, input, select, textarea { font-family: 'Public Sans', sans-serif; }
code, pre { -moz-osx-font-smoothing: auto; -webkit-font-smoothing: auto; font-family: monospace }
body { color: var(--black1); font-size: 16px; font-weight: 400; line-height: 1.5 }
a { color: var(--green); cursor: pointer; text-decoration: none }
a strong { color: currentColor }
a:hover { color: var(--dark_black2) }
code { background-color: var(--light-white6); color: var(--red1); font-size: initial; font-weight: 400; padding: .25em .5em .25em }
hr { background-color: var(--light-white6); border: none; display: block; height: 2px; margin: 24px 0 }
img { height: auto; max-width: 100% }
input[type=checkbox], input[type=radio] { vertical-align: baseline }
small { font-size: .875em }
span { font-style: inherit; font-weight: inherit }
strong { font-weight: 600 }
pre { -webkit-overflow-scrolling: touch; background-color: var(--light-white6); color: #4a4a4a; font-size: .875em; overflow-x: auto; padding: 20px 24px; white-space: pre; word-wrap: normal }
pre code { background-color: transparent; color: currentColor; font-size: 1em; padding: 0 }
.table tbody { font-family: 'Public Sans', sans-serif; color: #525252 }
table td, table th { text-align: left; vertical-align: top }
table th { color: var(--dark_black2) }
.site-header .header-fullwidth .btn { background-color: transparent !important; border: 0; color: var(--black1) !important; line-height: inherit !important; height: auto !important; text-align: left !important; }
.site-header .header-fullwidth .btn:hover { color: var(--green) !important; }
.alert-success { font-size: 18px; color: var(--green) !important; margin-top: 15px; }
.alert-danger { font-size: 18px; color: var(--red1) !important; margin-top: 15px; }
.error-message { font-size: 14px; color: var(--red1) !important; margin-top: 2px; }
.niveshaay-section-paddding { padding: 0 0 80px; }
.hamburger { display: none; cursor: pointer; }
.bar1, .bar2, .bar3 { height: 2px; margin: 6px 0; width: 28px; background-color: var(--green); border-radius: 2px; transition: all 0.3s; display: block; }
.bar2 { width: 18px; }
.hamburger span:first-of-type { margin-top: 0; }
.hamburger span:last-of-type { margin-bottom: 0; }
.hamburger { opacity: 1; z-index: 101; margin-left: 15px }
.mobile-menu .bar1 { -webkit-transform: rotate(-45deg) translate(-7px, 8px); transform: rotate(-45deg) translate(-7px, 8px); }
.mobile-menu .bar2 { opacity: 0; }
.mobile-menu .bar3 { -webkit-transform: rotate(45deg) translate(-3px, -4px); transform: rotate(45deg) translate(-3px, -4px); }
.mobile-menu { overflow: hidden; }
.btn { white-space: nowrap; border-radius: 4px; font-size: 15px; font-weight: 400; height: 48px; line-height: 47px !important; display: inline-flex; justify-content: center; align-items: center; padding: 0 12px; border: 1px solid var(--green); text-align: center; color: var(--green); background-color: var(--white); font-family: 'Public Sans', sans-serif; transition: all 0.3s; -webkit-transition: all 0.3s; cursor: pointer; font-style: normal; }
.btn.btn-green { background-color: var(--green); color: var(--white); }
::-moz-selection { background-color: var(--green); color: var(--white) }
::selection { background-color: var(--green); color: var(--white) }
p { font-family: 'Public Sans', sans-serif; line-height: 1.75; color: var(--black1); font-weight: 300 }
.widget-links ul li { padding: 6px 0 8px; font-size: 15px; font-size: 15px; }
.widget-links ul li:first-child { padding-top: 0 !important }
.widget-links ul li:last-child { padding-bottom: 0 !important }
.widget-links ul li span { font-size: 14px; color: var(--green) }
.widget-tags .tagcloud a { background-color: var(--white) !important; border: 1px solid var(--white3); color: #929292 !important; font-size: 12.5px !important; height: 48px !important; padding-left: 16px !important; padding-right: 16px !important; margin-right: 12px !important; margin-bottom: 12px }
.widget-tags .tagcloud a:hover { text-decoration: none; color: var(--white) !important; background-color: var(--green) !important; border-color: transparent }
.widget-social ul li { display: inline-block; padding-right: 10px; padding-bottom: 10px }
.widget-social ul li a { display: inline-block }
.widget-social ul li .icon { width: 36px; height: 36px; border-radius: 100%; background-color: var(--green); color: var(--white); -webkit-transition: all .4s ease; transition: all .4s ease }
.widget-social ul li .icon i { font-size: 16px; }
.widget-social ul li .icon:hover { background-color: var(--black1) }

/*custom-form-section*/
.custom-form-section .form-wrapper .form-outer-wrapper { display: flex; flex-wrap: wrap; margin: 0 -8px; }
.custom-form-section .form-wrapper .form-outer-wrapper .form-group { max-width: 100%; flex: 0 0 100%; margin-bottom: 20px; padding: 0 8px; position: relative; }
.custom-form-section .form-wrapper .form-outer-wrapper .form-group:last-child { margin-bottom: 0; }
.custom-form-section .form-outer-wrapper .form-group.half-width { max-width: 50%; flex: 0 0 50%; }
.custom-form-section .form-wrapper .form-group .form-control { padding: 0 16px; font-size: 16px; height: 56px; line-height: 44px; border-radius: 4px; border: solid 1px var(--white3); width: 100%; font-family: 'Public Sans', sans-serif; color: var(--black1); outline: 0 !important; transition: all 0.3s; }
.custom-form-section .form-wrapper .form-group .form-control:focus { border-color: var(--green); border-width: 2px; }
.custom-form-section .form-wrapper .form-group textarea.form-control { min-height: 89px; line-height: 1.2; padding: 17px; }
.custom-form-section .form-wrapper textarea { overflow: auto; vertical-align: top; resize: none; }
.custom-form-section .form-wrapper .form-group .form-control::placeholder { font-family: 'Public Sans', sans-serif !important; color: var(--black4) !important; font-size: 16px !important; }
.custom-form-section .form-wrapper .form-group .form-control::-webkit-input-placeholder { font-family: 'Public Sans', sans-serif !important; color: var(--black4) !important; font-size: 16px !important; }
.custom-form-section .form-wrapper .form-group .form-control::-moz-placeholder { font-family: 'Public Sans', sans-serif !important; color: var(--black4) !important; font-size: 16px !important; }
.custom-form-section .form-wrapper .form-group .form-control:-ms-input-placeholder { font-family: 'Public Sans', sans-serif !important; color: var(--black4) !important; font-size: 16px !important; }
.custom-form-section .form-wrapper .form-group .form-control:-moz-placeholder { font-family: 'Public Sans', sans-serif !important; color: var(--black4) !important; font-size: 16px !important; }
.custom-form-section .form-wrapper .error-message { position: absolute; left: 15px; top: 100%; color: red; font-size: 14px; font-family: 'Public Sans', sans-serif; }

/*dropdown*/
.select2-selection__placeholder { font-family: 'Public Sans', sans-serif !important; color: var(--black4) !important; font-size: 16px !important; }
.select2-container--default .select2-selection--single { height: 56px; border-radius: 4px; border: solid 1px var(--white3); }
.select2-container--default .select2-selection--single .select2-selection__arrow { top: 13px; right: 25px; }
.select2-container--default .select2-selection--single .select2-selection__rendered { line-height: 52px; color: var(--black5); padding: 0 50px 0 16px; font-family: 'Public Sans', sans-serif; color: var(--black1); font-size: 16px; }
.select2-container--default .select2-selection--single .select2-selection__placeholder { color: rgba(49, 49, 49, 0.5); }
.select2-container--default .select2-selection--single .select2-selection__arrow b { transition: all 0.5s; -webkit-transition: all 0.5s; background-image: url('../images/down-arrow.svg'); background-color: transparent; background-size: contain; border: none !important; height: 10px !important; width: 18px !important; background-repeat: no-repeat; opacity: 0.5; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { transform: rotate(180deg); }
.select2-dropdown { border-radius: 0 0 4px 4px; overflow: hidden; }
.select2-results__option { padding: 10px 16px; font-size: 16px; font-family: 'Public Sans', sans-serif; color: var(--black1); }
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: rgba(131, 182, 69, 0.2); color: var(--black1); }
.select2-container--default .select2-results__option[aria-selected=true] { background-color: var(--green); color: var(--white); }
.select2-dropdown { border: 1px solid var(--white3); }

/*font awesome*/
@font-face { font-family: 'Font Awesome 5 Free'; font-style: normal; font-weight: 400; src: url(../fonts/fa-regular-400.eot); src: url(../fonts/fa-regular-400d41d.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-regular-400.woff2) format("woff2"), url(../fonts/fa-regular-400.woff) format("woff"), url(../fonts/fa-regular-400.ttf) format("truetype"), url(../fonts/fa-regular-400.svg#fontawesome) format("svg") }
.far { font-family: 'Font Awesome 5 Free'; font-weight: 400 }
@font-face { font-family: 'Font Awesome 5 Free'; font-style: normal; font-weight: 900; src: url(../fonts/fa-solid-900.eot); src: url(../fonts/fa-solid-900d41d.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-solid-900.woff2) format("woff2"), url(../fonts/fa-solid-900.woff) format("woff"), url(../fonts/fa-solid-900.ttf) format("truetype"), url(../fonts/fa-solid-900.svg#fontawesome) format("svg") }
.fa, .fas { font-family: 'Font Awesome 5 Free'; font-weight: 900 }
@font-face { font-family: 'Font Awesome 5 Brands'; font-style: normal; font-weight: 400; src: url(../fonts/fa-brands-400.eot); src: url(../fonts/fa-brands-400d41d.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa-brands-400.woff) format("woff"), url(../fonts/fa-brands-400.ttf) format("truetype"), url(../fonts/fa-brands-400.svg#fontawesome) format("svg") }
.fab { font-family: 'Font Awesome 5 Brands' }
.fa, .fab, .fal, .far, .fas { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1 }
.fa-lg { font-size: 1.33333em; line-height: .75em; vertical-align: -.0667em }
.fa-xs { font-size: .75em }
.fa-sm { font-size: .875em }

/* footer btn*/
.site-footer .btn.btn-border-green { background-color: transparent; color: var(--green); border: 1px solid var(--green); font-weight: 400; }
.site-footer .btn.btn-border-green:hover { background-color: var(--white); border-color: var(--white); }
.site-footer .btn-wrapper { margin-top: 22px; }
.site-footer .btn-wrapper a em { display: inline-block; margin-right: 9px; line-height: 0; position: relative; top: -1px; width: 15px; }
.site-footer .btn-wrapper a em img { vertical-align: middle; }
.header-btn { background: var(--green); color: var(--white); }
.niveshaay-header { padding: 7px 0; background-color: var(--white); z-index: 9; position: fixed !important; width: 100%; top: 0 !important; transition: all 0s !important; -webkit-transition: all 0s !important; -o-box-shadow: 0px 2px 18px rgb(0 0 0 / 10%); -ms-box-shadow: 0px 2px 18px rgb(0 0 0 / 10%); -moz-box-shadow: 0px 2px 18px rgb(0 0 0 / 10%); -webkit-box-shadow: 0px 2px 18px rgb(0 0 0 / 10%); box-shadow: 0px 2px 18px rgb(0 0 0 / 10%); }
.inner-container { max-width: 715px; margin: 0 auto; }
.niveshaay-header .container { max-width: 100%; padding: 0 30px; width: 100%; }
.niveshaay-header .header-wrapper { display: flex; align-items: center; justify-content: space-between; }
.niveshaay-header .header-wrapper .logo-wrapper a { width: 135px; height: auto; margin: 0; padding: 0; display: block; }
.niveshaay-header .header-wrapper .logo-wrapper a img { height: auto; width: 100%; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul { display: flex; align-items: center; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul li+li { margin-left: 42px; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul .btn a { width: 100%; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul .btn.btn-border a { color: var(--green); border: 1px solid var(--green); border-radius: 4px; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper ul li.btn:last-child { margin-left: 30px; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul>li>a { position: relative; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper ul li:not(.btn) a { padding: 8px 0; color: var(--black1); }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul>li:not(.btn)>a:before { position: absolute; content: ''; width: 0; height: 3px; bottom: 0; left: 0; background-color: var(--green); transition: all 0.3s; -webkit-transition: all 0.3s; }
.btn:hover { background-color: var(--green); color: var(--white); }
.btn.btn-green:hover { background-color: var(--green1); }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul>li.active:not(.btn)>a:before { width: 100%; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul>li:not(.btn)>a:hover, .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul>li.active:not(.btn)>a { color: var(--green); }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul .btn.btn-border:hover a { background-color: var(--green); color: var(--white); }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul .btn.btn-green a:hover { background-color: var(--green1); }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul .btn { border: 0; color: var(--white); }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul li.btn { padding: 0; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper { position: relative; max-width: 140px; margin-left: 30px; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .dropdown-link { display: flex; align-items: center; padding: 0 15px 0 0px; position: relative; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .dropdown-link:after { position: absolute; content: ''; height: 4px; width: 7px; top: 50%; transform: translateY(-50%); background-image: url('../images/caret-icon.png'); background-position: center; background-repeat: no-repeat; background-size: cover; right: 0px; transition: all 0.3s; padding: 0; margin: 0; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper.open .dropdown-link:after { transform: rotate(180deg) translateY(50%); }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .dropdown-link .profile-icon { height: 40px; width: 40px; border-radius: 50%; display: block; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .dropdown-link .profile-icon img { border-radius: 50%; width: 100%; height: 100%; object-fit: cover; display: block; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .dropdown-link span { margin-left: 10px; font-size: 14px; color: #333; font-family: 'Public Sans', sans-serif; font-weight: 400; max-width: 77px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .user-dropdown { opacity: 0; visibility: hidden; transition: all 0.5s; display: none; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper.open .user-dropdown { opacity: 1; visibility: visible; transform: translateY(0); display: block; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .user-dropdown { border-top: 5px solid var(--green); position: absolute; top: calc(100% + 21px); right: 0; width: 100%; min-width: 140px; z-index: 11; transform: translateY(10px); transition: all 0.3s; background-color: var(--white); box-shadow: 0 0 20px 0 rgb(74 121 18 / 15%); }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .user-dropdown ul li { margin: 0 !important; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .user-dropdown ul li a { text-align: left; font-size: 14px; font-family: 'Public Sans', sans-serif; font-weight: 400; display: inline-block; width: 100%; padding: 8px 10px !important; color: var(--black1); transition: all 0.3s; }
.niveshaay-header .header-wrapper .user-dropdown-wrapper .user-dropdown ul li a:hover, .niveshaay-header .header-wrapper .user-dropdown-wrapper .user-dropdown ul li.active a { color: var(--green) !important; background-color: rgba(131, 182, 69, 0.2) !important; }
.niveshaay-header .header-wrapper .right-header-wrapper .navigation-wrapper { display: flex; align-items: center; }
.niveshaay-header .header-wrapper .right-header-wrapper { padding-left: 20px; }

/* footer css */
.site-footer-wrap { position: relative; }
.site-footer-wrap:after { content: ''; position: absolute; left: 0; top: 0; height: 100%; width: 100%; background-image: url(../images/footer-tree-bg.svg); opacity: 0.05; pointer-events: none; background-repeat: no-repeat; background-size: contain; background-position: right 20px; display: block; }
.site-footer-wrap .footer-niveshay-copyright .footer-bottom-content { background-color: var(--black8); padding: 0 10px; }
.site-footer-wrap .footer-niveshay-copyright .footer-bottom-content .content-wrap { display: flex; align-items: center; justify-content: space-between; max-width: 1170px; width: 100%; margin: 0 auto; padding: 20px 0; border-top: 1px solid rgba(255, 255, 255, 0.15); }
.site-footer-wrap .footer-niveshay-copyright .footer-bottom-content .content-wrap .disclouser-link { font-weight: 300; font-size: 14px; }
.site-footer-wrap .footer-niveshay-copyright .footer-bottom-content .content-wrap .disclouser-link:hover { color: var(--white); }
body .footer-niveshay-copyright .footer-bottom-content .footer-copyright { color: var(--white); font-size: 14px; padding-right: 15px; font-weight: 300; }
body .footer-niveshay-copyright .footer-bottom-content .footer-copyright a { color: var(--white); }
.site-footer-wrap .footer-niveshay-copyright .footer-bottom-content .footer-copyright a:hover { color: var(--white); }
footer { background: #fafafa; padding: 48px 24px; }
.site-footer .column .footer-logo-block { margin: 0 0 15px; }
.site-footer .column .footer-logo-block a { display: block; max-width: 200px; }
.site-footer .column .footer-content p { max-width: 258px; }
@media screen and (min-width:1280px) {
    footer .container { max-width: 1170px; width: 1170px; margin: 0 auto; position: relative; }
}
.icon { -webkit-box-align: center; -ms-flex-align: center; align-items: center; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; height: 24px; width: 24px }
.widget-links ul li span { font-size: 14px; color: var(--green) }
.footer .footer-social-links li .icon, footer .footer-social-links li .icon { width: 35px; height: 35px; border-radius: 100%; background-color: var(--green); color: var(--white); -webkit-transition: all .4s ease; transition: all .4s ease }
.footer .footer-social-links li .icon i, footer .footer-social-links li .icon i { font-size: 17px; }
.footer .footer-social-links li .icon:hover, footer .footer-social-links li .icon:hover { background-color: var(--black1) }
.footer .widget-links ul li .icon, footer .widget-links ul li .icon { width: auto; height: auto }
.site-footer-wrap footer#footer .footer-social-links li .icon { background-color: transparent; color: var(--green); width: auto; height: auto; border-radius: 0 }
.site-footer-wrap footer#footer .footer-social-links li .icon i { font-size: 17px }
.site-footer-wrap footer#footer .footer-social-links li .icon:hover { color: var(--white) }
@font-face { font-family: 'Font Awesome 5 Brands'; font-style: normal; font-weight: 400; src: url(../fonts/fa-brands-400.eot); src: url(../fonts/fa-brands-400d41d.eot?#iefix) format("embedded-opentype"), url(../fonts/fa-brands-400.woff2) format("woff2"), url(../fonts/fa-brands-400.woff) format("woff"), url(../fonts/fa-brands-400.ttf) format("truetype"), url(../fonts/fa-brands-400.svg#fontawesome) format("svg") }
@font-face { font-family: simple-line-icons; src: url(../fonts/Simple-Line-Iconsb26c.eot?v=2.4.0); src: url(../fonts/Simple-Line-Iconsb26c.eot?v=2.4.0#iefix) format("embedded-opentype"), url(../fonts/Simple-Line-Iconsb26c.woff2?v=2.4.0) format("woff2"), url(../fonts/Simple-Line-Iconsb26c.ttf?v=2.4.0) format("truetype"), url(../fonts/Simple-Line-Iconsb26c.woff?v=2.4.0) format("woff"), url(../fonts/Simple-Line-Iconsb26c.svg?v=2.4.0#simple-line-icons) format("svg"); font-weight: 400; font-style: normal }
.fab { font-family: 'Font Awesome 5 Brands' }
.fa, .fab, .fal, .far, .fas { -moz-osx-font-smoothing: grayscale; -webkit-font-smoothing: antialiased; display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; line-height: 1 }
.icon-location-pin, .icon-envelope, .icon-phone { font-family: simple-line-icons; speak: none; font-style: normal; font-weight: 400; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.icon-location-pin:before { content: "\e096" }
.icon-envelope:before { content: "\e086" }
.icon-phone:before { content: "\e600" }
.fa-facebook-f:before { content: "\f39e" }
.fa-twitter:before { content: "\f099" }
.fa-instagram:before { content: "\f16d" }
.fa-linkedin:before { content: "\f08c" }
.fa-youtube:before { content: "\f167" }

/*general widget*/
.widget-title { text-transform: capitalize; color: var(--black1); font-size: 19px; margin-bottom: 24px; font-family: 'Public Sans', sans-serif; font-weight: 600 }
.footer .footer-navigation li a, footer .footer-navigation li a { display: block }
.footer .footer-navigation li:first-child a, footer .footer-navigation li:first-child a { padding-left: 0 }
.footer .footer-navigation li:last-child a, footer .footer-navigation li:last-child a { padding-right: 0 }
.footer .footer-navigation, footer .footer-navigation { text-transform: uppercase }
.footer-bottom-content .level .footer-copyright, .footer-bottom-content .main-navigation li { text-transform: capitalize }
.footer, footer { text-align: center }
.footer .widget-links ul footer li:before, .footer .widget-links ul li:before, footer .footer .widget-links ul li:before, footer .widget-links ul .footer li:before, footer .widget-links ul li:before { font-family: simple-line-icons; font-size: 7px; }
.footer .footer-bottom-content .main-navigation li.active>a, .footer .footer-bottom-content .main-navigation li.current-menu-ancestor>a, .footer .footer-bottom-content .main-navigation li.current-menu-item>a, .footer .footer-bottom-content .main-navigation li.current-menu-parent>a, .footer .footer-bottom-content .main-navigation li.current>a, .footer .footer-bottom-content .main-navigation li.current_page_item>a, .footer .footer-navigation footer li.active>a, .footer .footer-navigation footer li.current-menu-ancestor>a, .footer .footer-navigation footer li.current-menu-item>a, .footer .footer-navigation footer li.current-menu-parent>a, .footer .footer-navigation footer li.current>a, .footer .footer-navigation footer li.current_page_item>a, .footer .footer-navigation li.active>a, .footer .footer-navigation li.current-menu-ancestor>a, .footer .footer-navigation li.current-menu-item>a, .footer .footer-navigation li.current-menu-parent>a, .footer .footer-navigation li.current>a, .footer .footer-navigation li.current_page_item>a, .footer-bottom-content .main-navigation .footer li.active>a, .footer-bottom-content .main-navigation .footer li.current-menu-ancestor>a, .footer-bottom-content .main-navigation .footer li.current-menu-item>a, .footer-bottom-content .main-navigation .footer li.current-menu-parent>a, .footer-bottom-content .main-navigation .footer li.current>a, .footer-bottom-content .main-navigation .footer li.current_page_item>a, .footer-bottom-content .main-navigation footer li.active>a, .footer-bottom-content .main-navigation footer li.current-menu-ancestor>a, .footer-bottom-content .main-navigation footer li.current-menu-item>a, .footer-bottom-content .main-navigation footer li.current-menu-parent>a, .footer-bottom-content .main-navigation footer li.current>a, .footer-bottom-content .main-navigation footer li.current_page_item>a, footer .footer-bottom-content .main-navigation li.active>a, footer .footer-bottom-content .main-navigation li.current-menu-ancestor>a, footer .footer-bottom-content .main-navigation li.current-menu-item>a, footer .footer-bottom-content .main-navigation li.current-menu-parent>a, footer .footer-bottom-content .main-navigation li.current>a, footer .footer-bottom-content .main-navigation li.current_page_item>a, footer .footer-navigation .footer li.active>a, footer .footer-navigation .footer li.current-menu-ancestor>a, footer .footer-navigation .footer li.current-menu-item>a, footer .footer-navigation .footer li.current-menu-parent>a, footer .footer-navigation .footer li.current>a, footer .footer-navigation .footer li.current_page_item>a, footer .footer-navigation li.active>a, footer .footer-navigation li.current-menu-ancestor>a, footer .footer-navigation li.current-menu-item>a, footer .footer-navigation li.current-menu-parent>a, footer .footer-navigation li.current>a, footer .footer-navigation li.current_page_item>a { color: var(--yellow2) }
.footer .site-logo, footer .site-logo { margin-bottom: 37px }
.footer .site-logo a, footer .site-logo a { display: inline-block; color: var(--black1) }
.footer .site-logo span.logo-text, footer .site-logo span.logo-text { font-size: 26px; padding: 0 11px; font-weight: 600 }
.footer .site-logo img, footer .site-logo img { max-height: 52px; vertical-align: top }
.footer .footer-navigation, footer .footer-navigation { font-family: 'Public Sans', sans-serif; margin-bottom: 37px }
.footer .footer-navigation li, footer .footer-navigation li { font-size: 12px; display: inline-block; }
.footer .footer-navigation li a, footer .footer-navigation li a { color: #969696; padding: 15px 18px }
.footer .footer-navigation li a:hover, footer .footer-navigation li a:hover { color: var(--yellow2) }
.footer .footer-social-links li, footer .footer-social-links li { display: inline-block; padding: 0 7.5px }
.footer .footer-social-links li a, footer .footer-social-links li a { display: inline-block }
.footer .footer-social-links li .icon, footer .footer-social-links li .icon { width: 35px; height: 35px; border-radius: 100%; background-color: var(--green); color: var(--white); -webkit-transition: all .4s ease; transition: all .4s ease }
.footer .footer-social-links li .icon i, footer .footer-social-links li .icon i { font-size: 17px; }
.footer .footer-social-links li .icon:hover, footer .footer-social-links li .icon:hover { background-color: var(--black1) }
.footer .widget.widget-form .widget-title, footer .widget.widget-form .widget-title { margin-bottom: 25.6px }
.footer .widget-title, footer .widget-title { color: var(--dark_black3); font-size: 20px; font-weight: 300; }
.footer .widget-links, footer .widget-links { font-family: 'Public Sans', sans-serif; }
.footer .widget-links ul li, footer .widget-links ul li { font-size: 14px; -webkit-transition: all .3s ease; transition: all .3s ease }
.footer .widget-links ul li:before, footer .widget-links ul li:before { content: "\e606"; vertical-align: middle; color: var(--green); padding-right: 5px; -webkit-transition: all .3s ease; transition: all .3s ease }
.footer .widget-links ul li:hover:before, footer .widget-links ul li:hover:before { color: var(--dark_black3) }
.footer .widget-links ul li .icon, footer .widget-links ul li .icon { width: auto; height: auto }
.footer .widget-links.links-with-icons ul li, footer .widget-links.links-with-icons ul li { font-size: 14px; display: flex; align-items: center }
.footer .widget-links.links-with-icons ul li:before, footer .widget-links.links-with-icons ul li:before { content: ''; padding-right: 0 }
.footer .widget-links.links-with-icons ul li .icon i, footer .widget-links.links-with-icons ul li .icon i { font-size: 15px; }
.footer .widget-form .button, footer .widget-form .button { background-color: var(--green); color: var(--white); width: 20% }
.footer .widget-form .button:hover, footer .widget-form .button:hover { background-color: var(--black1) }
.footer .widget-form:hover .button, footer .widget-form:hover .button { color: var(--white) }
.footer .widget-instafeed .instafeed, footer .widget-instafeed .instafeed { padding-top: 10px }
.footer .columns .column.is-3 .widget-instafeed .instafeed .instafeed-image img, footer .columns .column.is-3 .widget-instafeed .instafeed .instafeed-image img { max-width: 73px }
.footer .columns .column.is-3 .widget-instafeed .instafeed, footer .columns .column.is-3 .widget-instafeed .instafeed { padding-top: 0 }
.footer p, footer p { color: #969696; font-size: 14px; font-weight: 400 }
.footer a, footer a { color: var(--black1) }
.footer a:hover, footer a:hover { color: var(--green) }
.site-footer-wrap footer { text-align: inherit }
.site-footer-wrap footer .site-logo { font-family: 'Public Sans', sans-serif; margin-bottom: 0; margin-top: -11px }
.site-footer-wrap footer .site-logo a { display: inline-block; color: var(--dark_black3) }
.site-footer-wrap footer .site-logo span.logo-text { font-size: 25px; padding: 0 1px; font-weight: 600 }
.site-footer-wrap footer .footer-social-links li { padding: 0 5.5px }
.site-footer-wrap footer .footer-social-links li:first-child { padding-left: 0 }
.site-footer-wrap footer .footer-social-links li:last-child { padding-right: 0 }
.site-footer-wrap footer .footer-social-links li .icon { width: 30px; height: 30px; border-radius: 100% }
.site-footer-wrap footer .footer-social-links li .icon i { font-size: 15px; }
.site-footer-wrap .widgets-5 footer .widget-links ul { padding-top: 9px }
.site-footer-wrap .widgets-5 footer .widget-links ul li { font-size: 13.5px; }
.site-footer-wrap .widgets-5 footer .widget-links.links-with-icons ul { padding-top: 0 }
.site-footer-wrap .widgets-5 footer .site-logo { text-align: center }
.site-footer-wrap .widgets-5 footer .site-logo img { display: block; margin: 11px auto }
.site-footer-wrap .widgets-6 footer .widget-links.links-with-icons { padding-top: 0 }
body.footer-background.primary-color .footer-bottom-content, body.footer-background.primary-color footer, body.footer-background.primary-color footer .site-logo .logo-text, body.footer-background.primary-color footer .widget-title { color: var(--black1) }
body.footer-background.primary-color footer { background-color: #cfa066 }
body.footer-background.primary-color footer .site-logo img { -webkit-filter: brightness(0) invert(1); filter: brightness(0) invert(1) }
body.footer-background.primary-color footer a, body.footer-background.primary-color footer p { color: var(--white) }
body.footer-background.primary-color footer a:hover { color: var(--black1) }
body.footer-background.primary-color footer .footer-social-links li .icon { background-color: var(--black1) }
body.footer-background.primary-color footer .footer-social-links li .icon:hover { background-color: var(--green) }
body.footer-background.primary-color footer .widget-links ul li:before { color: var(--black1) }
body.footer-background.primary-color footer .widget-links ul li:hover:before { color: var(--white) }
body.footer-background.primary-color footer .widget-tags .tagcloud a { background-color: transparent !important; border: 1px solid rgba(216, 171, 116, .3); color: var(--white) !important }
body.footer-background.primary-color footer .widget-tags .tagcloud a:hover { border: 1px solid var(--black1); background-color: var(--black1) !important }
body.footer-background.primary-color .site-footer-bottom-inner { background-color: var(--black1) }
body.footer-background.primary-color .footer-bottom-content { background-color: rgba(207, 160, 102, .9) }
body.footer-background.primary-color .footer-bottom-content a, body.footer-background.primary-color .footer-bottom-content p { color: var(--white) }
body.footer-background.primary-color .footer-bottom-content a:hover { color: var(--black1) }
.site-footer-wrap .footer-bottom-content, .site-footer-wrap footer, .site-footer-wrap footer .site-logo .logo-text, .site-footer-wrap footer .widget-title { color: var(--white) }
.site-footer-wrap footer { background-color: var(--black8); padding: 40px 15px 20px; }
.site-footer-wrap footer a, .site-footer-wrap footer p { color: #f0f0f0; font-weight: 300; }
.site-footer-wrap footer a:hover { color: var(--green) }
.site-footer-wrap footer .footer-social-links li .icon { background-color: var(--green) }
.site-footer-wrap footer .footer-social-links li .icon:hover { background-color: var(--black1) }
.site-footer-wrap footer .widget-links ul li:before { color: var(--green) }
.site-footer-wrap footer .widget-links ul li:hover:before { color: var(--white) }
.site-footer-wrap footer .widget-tags .tagcloud a { background-color: transparent !important; border: 1px solid rgba(216, 171, 116, .3); color: var(--white) !important }
.site-footer-wrap footer .widget-tags .tagcloud a:hover { border: 1px solid var(--green); background-color: var(--green) !important }
.site-footer-wrap .footer-bottom-content { background-color: var(--black1) }
.site-footer-wrap .footer-bottom-content a, .site-footer-wrap .footer-bottom-content p { color: var(--white) }
.site-footer-wrap .footer-bottom-content .footer-copyright a:hover { color: var(--white) }
.site-footer-wrap footer#footer .footer-social-links li { padding: 0 6px; display: inline-block }
.site-footer-wrap footer#footer .footer-social-links li:first-child { padding-left: 0 }
.site-footer-wrap footer#footer .footer-social-links li .icon { background-color: transparent; color: var(--green); width: auto; height: auto; border-radius: 0 }
.site-footer-wrap footer#footer .footer-social-links li .icon i { font-size: 17px }
.site-footer-wrap footer#footer .footer-social-links li .icon:hover { color: var(--white) }
.site-footer-wrap footer#footer .widget-form input { background-color: transparent; border: 1px solid var(--black1); padding-right: 1em }
.site-footer-wrap footer#footer .widget-form .button { position: relative; padding-left: calc(1.8em - 1px); padding-right: calc(1.8em - 1px) }
.site-footer-wrap footer#footer .widget-form .button .icon { color: var(--white) }
.site-footer-wrap footer#footer .widget-form .button .icon i { font-size: 30px }
body.footer-reveal #footer-bottom-wrap, body.footer-reveal #footer-wrap { width: 100%; height: auto; z-index: -200 }
.footer-bottom-content { font-family: 'Public Sans', sans-serif; text-align: center; color: #999 }
.footer .footer-navigation .footer-bottom-content li.active>a, .footer .footer-navigation .footer-bottom-content li.current-menu-ancestor>a, .footer .footer-navigation .footer-bottom-content li.current-menu-item>a, .footer .footer-navigation .footer-bottom-content li.current-menu-parent>a, .footer .footer-navigation .footer-bottom-content li.current>a, .footer .footer-navigation .footer-bottom-content li.current_page_item>a, .footer-bottom-content .footer .footer-navigation li.active>a, .footer-bottom-content .footer .footer-navigation li.current-menu-ancestor>a, .footer-bottom-content .footer .footer-navigation li.current-menu-item>a, .footer-bottom-content .footer .footer-navigation li.current-menu-parent>a, .footer-bottom-content .footer .footer-navigation li.current>a, .footer-bottom-content .footer .footer-navigation li.current_page_item>a, .footer-bottom-content .main-navigation li.active>a, .footer-bottom-content .main-navigation li.current-menu-ancestor>a, .footer-bottom-content .main-navigation li.current-menu-item>a, .footer-bottom-content .main-navigation li.current-menu-parent>a, .footer-bottom-content .main-navigation li.current>a, .footer-bottom-content .main-navigation li.current_page_item>a, .footer-bottom-content footer .footer-navigation li.active>a, .footer-bottom-content footer .footer-navigation li.current-menu-ancestor>a, .footer-bottom-content footer .footer-navigation li.current-menu-item>a, .footer-bottom-content footer .footer-navigation li.current-menu-parent>a, .footer-bottom-content footer .footer-navigation li.current>a, .footer-bottom-content footer .footer-navigation li.current_page_item>a, footer .footer-navigation .footer-bottom-content li.active>a, footer .footer-navigation .footer-bottom-content li.current-menu-ancestor>a, footer .footer-navigation .footer-bottom-content li.current-menu-item>a, footer .footer-navigation .footer-bottom-content li.current-menu-parent>a, footer .footer-navigation .footer-bottom-content li.current>a, footer .footer-navigation .footer-bottom-content li.current_page_item>a { color: var(--yellow2) }
.footer-bottom-content .footer-copyright { font-size: 13.8px; display: inline-block; font-family: 'Public Sans', sans-serif; text-transform: capitalize; }
.footer-bottom-content a { color: var(--yellow2) }
.footer-bottom-content a:hover { color: var(--black1) }
.footer-bottom-content .header-menu-icons.social:before { display: none }
.footer-bottom-content .main-navigation li { font-size: 14px; display: inline-block; padding: 3px 0 }
.footer-bottom-content .main-navigation li a { color: #929292; padding-left: 15px }
.footer-bottom-content .main-navigation li a:hover { color: var(--green) }
.footer-bottom-content .main-navigation.left li a { padding-left: 0; padding-right: 15px }
.footer-bottom-content .level .footer-copyright { font-size: 13px; }
.site-footer .columns { display: flex; flex-wrap: wrap; margin: 0 -15px -25px; position: relative; z-index: 1; }
.site-footer .column { max-width: 27%; flex: 0 0 27%; padding: 0 15px; margin-bottom: 25px; }
.site-footer .column-2 { max-width: 17%; flex: 0 0 17%; padding: 0 15px }
.site-footer .column-2 li { padding: 6px 0; }
.site-footer .column-3, .site-footer .column-4 { max-width: 28%; flex: 0 0 28%; padding: 0 15px }

/*footer-quick-links*/
.site-footer-wrap footer .footer-quick-links li { padding: 5px 0; }
.site-footer-wrap footer .footer-quick-links li:before { content: none; }

/*heading css*/
.heading-title.niveshaay-section-title { color: var(--black1); font-size: 40px; padding: 0; text-align: center; font-weight: 300; margin-bottom: 20px; line-height: 1; }
.heading-title.niveshaay-section-title:after { display: none; }
.niveshaay-container { max-width: 1220px; padding: 0 30px; margin: 0 auto; width: 100%; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper ul li:last-child { margin-left: 20px; }
.site-footer-wrap footer .widget-links ul li:before { display: none; }
.widget-links ul li:first-child { padding-top: 6px; }
.header-wrapper .profile-block { display: flex; align-items: center; color: var(--black1); }
.header-wrapper .profile-block .profile-img img { height: 36px; width: 36px; border-radius: 50%; margin-right: 10px; }
.header-wrapper .profile-block { position: relative; font-size: 14px; margin-left: 30px; display: none;}
.after-login .header-wrapper .profile-block { position: relative; font-size: 14px; margin-left: 30px; display: flex;}
.after-login .login-btn{display: none;}
.header-wrapper .profile-block .profile-img { display: flex; align-items: center; cursor: pointer; }
.header-wrapper .profile-block span img { width: 10px; height: 6px; margin-left: 10px; }
.header-wrapper .profile-block .profile-img span { display: flex; align-items: center; }
.header-wrapper .profile-block .dropdown-menu { position: absolute; top: 100%; left: 0; background-color: var(--white); right: 0; width: 100%; box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); border-radius: 4px; margin-top: 22px; display: none;overflow: hidden; }
.header-wrapper .profile-block .dropdown-menu li:not(:last-child) { margin-bottom: 3px; }
.header-wrapper .profile-block .dropdown-menu li a { margin: 0; text-align: center; padding: 8px 0; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper .dropdown-menu li a:hover { background-color: var(--green); color: var(--white); }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper .dropdown-menu li { padding: 0; }
.niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper .dropdown-menu li:not(:last-child) { padding: 0; margin-bottom: 3px; }
.header-wrapper .profile-block .dropdown-menu li a { transition: all 0.5s; color: var(--black1); display: block; }
.header-wrapper .profile-block .dropdown-menu li a:hover { background-color: var(--green); color: var(--white); }
.header-wrapper .profile-block .dropdown-menu li:last-child { margin-left: 0 !important; }
.site-footer .column-4 .widget-form iframe { width: 100%; }
iframe { width: 100%; }
@media (max-width:1320px) {
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul li+li { margin-left: 30px; }
}
@media(max-width:1280px) {
    .niveshaay-header .header-wrapper .user-dropdown-wrapper, .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul li+li { margin-left: 15px; }
}
@media(max-width:1199px) {
    footer { padding: 40px 15px; }
    .site-footer .column iframe { max-width: 400px !important; }
    .site-footer .btn-wrapper { margin-top: 10px; }
    .custom-form-section .form-wrapper .form-outer-wrapper { margin: 0 -10px; }
    .custom-form-section .form-wrapper .form-outer-wrapper .form-group { padding: 0 10px; }
    .niveshaay-header .header-wrapper .user-dropdown-wrapper, .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul li+li { margin-left: 10px; }
    .niveshaay-header .header-wrapper .user-dropdown-wrapper, .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul li+li { margin-left: 10px; font-size: 15px; }
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper ul li.btn:last-child { margin-left: 10px; }
    .header-wrapper .profile-block { margin-left: 10px; }
    .header-wrapper .profile-block .profile-img img { margin-right: 8px; }
    .header-wrapper .profile-block span img { margin: 0 0 0 5px; }
    .niveshaay-header .header-wrapper .right-header-wrapper { padding-left: 10px; }
    .niveshaay-header .header-wrapper .logo-wrapper a { width: 125px; }
    .header-wrapper .profile-block .dropdown-menu{margin-top: 20px;}
}
@media(max-width:1087px) {
    body header.niveshaay-header .header-wrapper .logo-wrapper .site-logo { visibility: visible; display: block; }
    .header-wrapper .profile-block .profile-img span { max-width: 95px; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical; }
}
@media(max-width:1024px) {
    .header-wrapper .profile-block .dropdown-menu { margin-top: 21px; }
    .heading-title.niveshaay-section-title { font-size: 34px; line-height: 1.3; margin-bottom: 15px; }
    .hamburger { display: block; }
    .mobile-menu .bottom-header-wrapper { opacity: 1; z-index: 101; visibility: visible; transform: translateX(0); }
    .bottom-header-wrapper { opacity: 0; z-index: -1; visibility: hidden; width: 100%; height: 100%; position: fixed; top: 0; right: 0; bottom: 0; text-align: left; padding: 0; margin-top: 71px; transition: all 0.3s; -webkit-transition: all 0.3s; transform: translateX(101%); background-color: var(--white); padding: 15px 30px 30px; }
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul { display: block; overflow-y: auto; height: calc(100% - 71px); }
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul li+li, .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul .btn { margin: 15px 0 0; }
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul>li>a:not(.btn) { font-size: 18px; }
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper ul li:not(.btn) a { padding: 0; }
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul .btn { display: block; max-width: 170px; }
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper ul li.btn:last-child { margin: 0 !important; }
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper>ul>li.active:not(.btn)>a:before { display: none; }
    .header-wrapper .profile-block .dropdown-menu { z-index: 102; }
}
@media (max-width:991px) {
    .niveshaay-header .header-wrapper .navigation-wrapper .bottom-header-wrapper ul li:last-child { margin: 20px 0 0; }
    .header-wrapper .profile-block .dropdown-menu { margin-top: 18px; }
    .niveshaay-header .header-wrapper .logo-wrapper a { width: 115px; }
    .niveshaay-header .header-wrapper .user-dropdown-wrapper { order: 1; margin: 0 15px 0 0; }
    .niveshaay-header .header-wrapper .user-dropdown-wrapper .user-dropdown { top: calc(100% + 16px); }
    .hamburger { order: 2; }
    .site-footer .column { max-width: 50%; flex: 0 0 50%; }
    .site-footer-wrap:after { background-size: 50%; background-position: right calc(100% + 8px); }
}
@media(max-width:767px) {
    .btn { height: 40px; line-height: 38px !important; font-size: 14px; }
    .niveshaay-container { padding: 0 25px; }
    .heading-title.niveshaay-section-title { font-size: 28px; }
    .site-footer-wrap .footer-niveshay-copyright .footer-bottom-content { padding: 0 10px; }
    .site-footer-wrap footer { padding: 20px 25px; }
    .site-footer-wrap:after { background-position: center calc(100% + 20px); }
    .niveshaay-header .container { padding: 0 25px; }
    .niveshaay-header .header-wrapper .logo-wrapper a img { max-height: 100%; }
    .bottom-header-wrapper { padding: 15px 25px 30px; }
    body footer .site-logo img { max-height: 35px }
    body footer .site-logo span.logo-text { font-size: 16px; padding: 0 5px }
    body footer .footer-navigation li { font-size: 12px }
    body footer .footer-navigation li a { padding: 15px 3px }
    body footer .footer-social-links li .icon { width: 30px; height: 30px }
    body footer .footer-social-links li .icon i { font-size: 13px }
    body .footer-bottom-content .footer-copyright { font-size: 12px; }
    .site-footer .column { max-width: 100%; flex: 0 0 100%; }
    .footer .widget-links.links-with-icons, footer .widget-links.links-with-icons { padding-top: 0px; }
    .site-footer-wrap footer .widget-title { margin-bottom: 10px; }
    .custom-form-section .form-wrapper .form-outer-wrapper .form-group { margin: 0 0 15px; }
}
@media (max-width:575px) {
    .bottom-header-wrapper { margin-top: 60px; }
    .header-wrapper .profile-block .dropdown-menu { margin-top: 12px; }
    .niveshaay-header .header-wrapper .logo-wrapper a { width: 90px; }
    .niveshaay-header .header-wrapper .right-header-wrapper { padding-left: 0; }
    .header-wrapper .profile-block { margin-left: 8px; }
    .header-wrapper .profile-block .profile-img img { margin-right: 5px;height: 30px; width: 30px; }
    .hamburger { margin-left: 15px; }
    .header-wrapper .profile-block { font-size: 13px; }
    .bar1, .bar2, .bar3 { width: 21px; }
    .bar2 { width: 14px; }
    .site-footer-wrap .footer-niveshay-copyright .footer-bottom-content .content-wrap { flex-direction: column; }
    body .footer-niveshay-copyright .footer-bottom-content .footer-copyright { padding-right: 0; margin-bottom: 5px; }
    .site-footer .column iframe { height: 170px; }
    .niveshaay-header .header-wrapper .user-dropdown-wrapper { margin: 0 10px !important; }
    .site-footer-wrap:after { background-size: 90%; }

    /*custom-form-section*/
    .custom-form-section .form-wrapper .form-outer-wrapper .form-group.half-width { max-width: 100%; flex: 0 0 100%; }
    body .footer-niveshay-copyright .footer-bottom-content .footer-copyright a{ display: block;}
}
@media(max-width:375px) {
    .niveshaay-header .header-wrapper .user-dropdown-wrapper .dropdown-link .profile-icon { height: 30px; width: 30px; }
    .niveshaay-header .header-wrapper .user-dropdown-wrapper .dropdown-link span { margin-left: 5px; }
    .niveshaay-header .header-wrapper .user-dropdown-wrapper .dropdown-link { padding-right: 10px; }
}
