.main-wrapper { padding-top: 79px;min-height: 100vh; }
.niveshaay-pick-smallcase.niveshaay-section-paddding { padding: 0 0 25px; }
.niveshaay-research-block.featured-on.niveshaay-section-paddding { padding: 0 0 10px; }
.nivesh-shiksha.niveshaay-section-paddding { padding: 40px 0; }
.niveshaay-client.niveshaay-section-paddding { padding: 40px 0 0; }
.niveshaay-client .slick-dotted.slick-slider { margin-bottom: 10px; }
.niveshaay-complaints-section.niveshaay-section-paddding { padding: 40px 0 80px; }
.niveshaay-welcome-block p { font-size: 16px; color: var(--black1); font-weight: normal; }
.niveshaay-home-welcome-block h1.heading-title { text-align: left; }
.niveshaay-home-welcome-block .niveshaay-container { position: relative; }
.niveshaay-welcome-block .welcome-block-wrapper.has-border-bottom { text-align: center; }
.niveshaay-welcome-block ul { display: flex; justify-content: space-between; margin-top: 31px; }
.niveshaay-welcome-block ul li { position: relative; padding-left: 20px; font-size: 18px; color: var(--green); }
.niveshaay-welcome-block ul li a { display: flex; }
.niveshaay-welcome-block ul li:before { content: ''; position: absolute; left: 5px; top: 10px; width: 6px; height: 6px; background: var(--green); border-radius: 50%; }
.niveshaay-welcome-block .welcome-block-wrapper.has-border-bottom { position: relative; padding-bottom: 60px; }
.niveshaay-welcome-block .welcome-block-wrapper.has-border-bottom p { font-size: 20px; }

/*nivesh-shiksha*/
.niveshaay-siksha h2.heading-title { margin-bottom: 20px !important; padding-bottom: 0 !important; }
.niveshaay-siksha .heading-title:after { display: none; }
.niveshaay-siksha .siksha-grid-wrapper { display: flex; margin: 0 -25px; }
.niveshaay-siksha .siksha-grid-wrapper .siksha-grid-item { flex: 0 0 50%; max-width: 50%; padding: 0 25px; }
.niveshaay-siksha .siksha-grid-wrapper .siksha-grid-item .siksha-grid-inner { box-shadow: 3px 5.2px 8px 0 rgba(0, 0, 0, 0.05); border: solid 1px var(--white3); background-color: var(--white); padding: 22px 30px; height: 100%; }
.niveshaay-siksha .siksha-grid-inner h3 { font-size: 22px; font-weight: bold; color: var(--green); }
.niveshaay-siksha .siksha-grid-inner p { font-size: 16px; font-weight: normal; line-height: 1.75; color: var(--black1); margin-top: 5px; }

/* niveshaay-news-section*/
.niveshaay-news .heading-title.niveshaay-section-title { text-transform: none; margin-bottom: 40px !important; }
.niveshaay-news .niveshaay-news-slider .slick-slide img { margin: 0 auto; }
.niveshaay-news .niveshaay-news-slider .niveshaay-news-item .niveshaay-news-inner { display: flex; align-items: center; padding: 0 10px; }

/*niveshaay-client css start*/
.niveshaay-client { overflow: hidden; }
.niveshaay-client .slick-list { margin: 0 -15px; padding-top: 0; }
.niveshaay-client .niveshaay-client-content { padding: 10px 15px; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper { box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 5%), 0 4px 10px 0 rgb(0 0 0 / 7%); background-color: var(--white); padding: 25px; border-radius: 4px; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .client-profile-wrapper { display: flex; flex-wrap: wrap; align-items: center; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .client-profile-wrapper .client-profile { flex: 0 0 70px; max-width: 70px; height: 70px; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .client-profile-wrapper .client-profile em { display: block; width: 100%; height: 100%; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .client-profile-wrapper .client-profile em img { width: 100%; height: 100%; object-fit: cover; border-radius: 50%; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .client-profile-wrapper .profile-content { flex: 1; padding-left: 15px; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .content-wrapper { margin: 0 0 16px; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .content-wrapper p { font-family: 'Public Sans', sans-serif; font-size: 16px; line-height: 1.56; color: var(--black); }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .profile-name { display: block; color: var(--green); font-size: 18px; font-weight: 400; margin-bottom: 3px; }
.niveshaay-client .niveshaay-client-content .client-content-wrapper .designation { font-size: 14px; font-family: 'Public Sans', sans-serif; color: var(--black2); display: block; }
.slick-prev::before, .slick-next::before { content: ''; }
.slick-arrow { background-image: url(../images/right-arrow.svg) !important; height: 24px; width: 32px; background-repeat: no-repeat !important; background-size: 32px 24px !important; background-position: center !important; z-index: 2; transform: translateY(-50%); }
.slick-arrow.slick-prev { transform: rotate(180deg) translateY(-50%); left: -31px; transform-origin: 0 6px; }
.slick-arrow.slick-next { right: -63px; top: 54%; }
.twitter-feeds-section .slick-dots, .niveshaay-client .slick-dots { display: none !important; bottom: -60px; }
.slick-dots li { margin: 0 5px; width: 20px; height: 30px; }
.slick-dots li button { padding: 15px 3px; }
.slick-dots li button:before { background: white; content: ''; height: 16px; width: 16px; border-radius: 50%; top: 50%; left: 50%; transform: translate(-50%, -50%); border: 2px solid var(--green); opacity: 1; }
.slick-dots li.slick-active button:before { background: var(--green); }
.niveshaay-research-block.niveshaay-section-paddding, .niveshaay-pick-smallcase.niveshaay-section-paddding { padding: 40px 0; }
.niveshaay-client.niveshaay-section-paddding { padding: 40px 0 0; }
.niveshaay-research-block.featured-on.niveshaay-section-paddding { padding: 40px 0 10px; }

/* home page banner css */
.home-page-banner-section { overflow: hidden; position: relative; }
.home-page-banner-section .bottom-shape-wrapper { position: absolute; top: auto; bottom: -10px; left: 0; right: -5px; }
.home-page-banner-section .bottom-shape-wrapper img { width: 100%; height: 100%; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider.not-visible .home-banner-content { opacity: 0; visibility: hidden; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider.not-visible .home-banner-content { transition: all 0.3s; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content h2[data-aos=fade-up] { -webkit-transform: translate3d(0, 20px, 0); transform: translate3d(0, 20px, 0); }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content h2[data-aos^=fade][data-aos^=fade].aos-animate { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content p[data-aos=fade-down], .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul[data-aos=fade-down] { -webkit-transform: translate3d(0, -20px, 0); transform: translate3d(0, -20px, 0); }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content p[data-aos^=fade][data-aos^=fade].aos-animate, .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul[data-aos^=fade][data-aos^=fade].aos-animate { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider { position: relative; display: flex; align-items: center; justify-content: center; min-height: calc(100vh - 80px); opacity: 0; }
.home-page-banner-section.loaded .banner-slider-wrapper .home-banner-slider { min-height: inherit; opacity: 1; height: 500px; min-height: auto !important; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-image { position: absolute; left: 0; right: 0; width: 100%; height: 100%; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-image:before { content: ''; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: linear-gradient(90deg, rgba(46, 64, 52) 0%, rgba(131, 182, 69, 1) 150%); opacity: 0.5; z-index: 1; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-image img { height: 100%; width: 100%; object-fit: cover; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content { z-index: 1; max-width: 1220px; width: 100%; padding: 0 30px; margin: 0 auto; position: relative; }
.about-page-banner-section .home-banner-content h2, .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content h2 { text-align: left; font-size: 50px; font-weight: 400; color: var(--white); margin: 0 0 12px; }
.home-page-banner-section .slick-dotted.slick-slider { margin-bottom: 0; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content p { font-family: 'Public Sans', sans-serif; text-align: left; font-size: 18px; font-weight: 300; text-shadow: none; line-height: 1.5; color: var(--white); }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul { display: flex; justify-content: flex-start; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul li { position: relative; font-family: 'Public Sans', sans-serif; font-size: 18px; font-weight: 300; line-height: 1.5; color: var(--white); padding-left: 20px; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul li+li { margin-left: 20px; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul li:before { content: ''; position: absolute; width: 8px; height: 8px; border-radius: 50%; background-color: var(--white); left: 2px; top: 10px; }
.home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content p span { display: block; }
.home-page-banner-section .slick-dots { bottom: 15px; }
.home-page-banner-section .slick-arrow.slick-prev { left: 80px; transform-origin: 0 0; }
.home-page-banner-section .slick-arrow.slick-next { right: 50px; top: 50%; }

/*niveshaay-complaints-section */
.niveshaay-complaints-section .niveshaay-complaints-content .complaints-tab-content-wrapper .tab-heading-outer-wrapper { display: flex; align-items: center; margin-bottom: 25px; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-outer-wrapper p { font-size: 22px; margin-right: 18px; color: var(--black1); line-height: 42px; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-outer-wrapper .tab-heading-wrapper { max-width: 174px; flex: 0 0 174px; position: relative; border-radius: 4px; border: solid 1px var(--white3); background-color: var(--white); }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-outer-wrapper .tab-heading-wrapper span { font-size: 16px; min-height: 40px; line-height: 40px; padding: 0 35px 0 18px; display: block; color: var(--black1); cursor: pointer; position: relative; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-family: 'Public Sans', sans-serif; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-outer-wrapper .tab-heading-wrapper span:after { position: absolute; content: ''; background-image: url('../images/down-arrow.svg'); right: 20px; top: 50%; transform: translateY(-50%); width: 10px; height: 6px; background-repeat: no-repeat; background-position: center; background-size: 10px 6px; transition: all 0.3s; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-wrapper .tab-heading li { font-family: 'Public Sans', sans-serif; cursor: pointer; padding: 10px 18px; transition: all 0.3s; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-wrapper .tab-heading li:hover { background-color: var(--green); color: var(--white); }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-wrapper .tab-heading { position: absolute; top: 100%; left: -1px; right: -1px; color: var(--black1); background: var(--white); z-index: 5; border-radius: 0 0 4px 4px; opacity: 0; visibility: hidden; transition: all 0.3s; border: 1px solid var(--white3); border-top: 0; max-height: 370px; overflow: auto; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-wrapper.open { border-radius: 4px 4px 0 0; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-wrapper.open span:after { transform: translateY(-50%) rotate(180deg); }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-wrapper.open .tab-heading { opacity: 1; visibility: visible; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-content-wrapper .niveshhay-table-responsive { display: none; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-content-wrapper .niveshhay-table-responsive .content { margin-top: 25px; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-content-wrapper .niveshhay-table-responsive .table-wrapper { overflow-x: auto; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-content-wrapper .niveshhay-table-responsive.active { display: block; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-content-wrapper .content p { font-family: 'Public Sans', sans-serif; line-height: 1.75; color: var(--black1); font-size: 14px; }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-content-wrapper .content p a { color: var(--green); }
.niveshaay-complaints-section .niveshaay-complaints-content .tab-content-wrapper .content p a:hover { text-decoration: underline; color: var(--green); }

/* niveshhay research block css */
.list-catagory-section.niveshaay-research-block .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item { box-shadow: 0 0 15px 0 rgb(74, 121, 18, 0.15); }
.list-catagory-section.niveshaay-research-block .list-catagory-wrapper .list-wrapper .list-inner-wrapper { display: block; margin: 0; }
.list-catagory-section.niveshaay-research-block .slick-list { margin: 0 -15px; }
.list-catagory-section.niveshaay-research-block .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper { flex: none; max-width: inherit; padding: 15px; }
.list-catagory-section.featured-on .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item .item-img-wrapper { padding-bottom: 55.7%; }
.featured-on .list-wrapper .list-inner-wrapper .list-item .featured-listing { margin-bottom: 16px; }
.featured-on .list-wrapper .list-inner-wrapper .list-item ul { display: flex; align-items: center; justify-content: space-between; }
.list-catagory-section.niveshaay-research-block.featured-on .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item .item-content-wrapper .item-inner-content { margin-top: 12px; }
.list-catagory-section.niveshaay-research-block.featured-on .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item .item-content-wrapper .item-inner-content p { letter-spacing: -0.6px; }
.list-catagory-section.niveshaay-research-block.featured-on .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item .item-content-wrapper span { font-size: 15px; }
.list-catagory-section.featured-on .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item .item-content-wrapper { padding: 20px; }
.featured-on .list-wrapper .list-inner-wrapper .list-item a { box-shadow: 0 0 15px 0 rgba(74, 121, 18, 0.15); }
.featured-on .list-wrapper .list-inner-wrapper .list-item ul li { font-family: 'Public Sans', sans-serif; font-size: 14px; line-height: 1.83; font-weight: 400; color: var(--black2); letter-spacing: normal; }
.niveshaay-welcome-block.nivesh-shiksha h2.heading-title.niveshaay-section-title { margin-top: 0 !important; margin-bottom: 11px !important; }
.list-catagory-section.niveshaay-research-block .slick-dots { display: none !important; bottom: -50px; }
.featured-on .list-wrapper .list-inner-wrapper .list-item ul li em.smallcase-logo-wrapper img {width: auto; max-width: 110px; }

/*niveshaay-table*/
.niveshaay-complaints-section .complaints-tab-content-wrapper { box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 5%), 0 4px 10px 0 rgb(0 0 0 / 7%); background-color: var(--white); padding: 27px; border-radius: 4px; }

/*niveshaay-responsive-table*/
.niveshhay-table-responsive table {    /* border: solid 1px var(--white3); */
background-color: var(--white); width: 100%; min-width: 900px; }
.niveshhay-table-responsive table thead { background-color: var(--white7); }
.niveshhay-table-responsive table thead th { font-family: 'Public Sans', sans-serif; font-size: 16px; font-weight: 500; text-align: center; color: var(--black1); padding: 10px 10px; border: none; }
.niveshhay-table-responsive table thead th:first-child { padding-left: 15px; text-align: left; }
.niveshhay-table-responsive table thead th:last-child { padding-right: 33px; }
.niveshhay-table-responsive table tbody td { font-size: 16px; font-weight: normal; text-align: center; color: var(--black1); padding: 10px 10px; }
.niveshhay-table-responsive table tbody tr td:first-child { text-align: left; padding-left: 15px; }
.niveshhay-table-responsive table tbody tr td:last-child { padding-right: 33px; }
.niveshhay-table-responsive table tbody tr:last-child td:first-child { font-weight: 600; }

/* pick your smallcase section css start */
.subtitle-text { text-align: center; margin-bottom: 25px; }
.niveshaay-pick-smallcase .slick-dots { bottom: -40px; }
.niveshaay-pick-smallcase .smallcase-grid { margin: 0; display: flex; flex-wrap: wrap; }
.niveshaay-pick-smallcase .smallcase-grid .slick-list { margin: 0 -15px; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item { padding: 15px 15px 15px; flex: 0 0 100%; max-width: 930px; margin: 0 auto; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner { box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 5%), 0 4px 10px 0 rgb(0 0 0 / 7%); background-color: var(--white); height: 100%; padding: 24px; position: relative; border-radius: 4px;     display: flex; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .top-block { display: flex; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .bottom-block { display: flex; align-items: center; justify-content: space-between; margin-top: 15px; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .smallcase-badge {  position: absolute;     padding: 4px 8px 4px 8px; font-size: 12px; font-family: 'Public Sans', sans-serif; color: var(--black1); background-color: var(--white)2d1; border: 1px solid var(--yellow); z-index: 3; left: -5px; bottom: 24px; display: block; border-radius: 0 4px 4px 4px; font-style: normal; max-width: 100px;     }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .smallcase-badge::after { content: ' '; position: absolute; width: 5px; height: 6px; border-radius: 4px 0 0 0; background-color: var(--yellow); left: -1px; top: -6px; z-index: -1; display: block; }

.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .smallcase-badge.red { background-color: var(--yellow1); border-color: var(--yellow1); }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .smallcase-badge.red::after { background-color: var(--yellow1); }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner em { display: block; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner em img { max-width: 100%; width: auto; display: block; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .info-list { display: flex;  margin: 0 0 -10px; flex: 0 0 calc(40% - 70px); max-width: calc(40% - 70px); }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .info-list li { font-family: 'Public Sans', sans-serif; color: var(--black4); font-size: 14px; padding: 0 10px 0; margin: 0 0 10px;    }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .info-list li span { display: block; font-weight: 500; color: var(--black1); font-size: 16px; margin-top: 4px; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .info-list li span.green-text { color: var(--green); font-weight: 600; }


.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner h3 { color: var(--black1); font-size: 20px; font-weight: 500; line-height: 1.4; margin: 0 0 4px; font-family: 'Public Sans', sans-serif; max-width: calc(60% - 70px); }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .content-block-inner p { line-height: 1.47; color: var(--black1); font-size: 15px; margin-top: 10px; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .content-block-inner { display: flex; flex-direction: column; justify-content: space-between; align-items: flex-start; margin-bottom: 35px; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block { display: flex; margin: 0; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .img-block { flex: 0 0 80px; max-width: 80px; padding-bottom: 35px; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block { flex: 0 0 calc(100% - 80px); max-width: calc(100% - 80px); padding-left: 24px; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block .right-inner-content { display: flex; flex-wrap: wrap; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block .right-inner-content .description-block { flex: 0 0 calc(60% - 70px); max-width: calc(60% - 70px); }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block .right-inner-content .button-block { flex: 1; }

.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner { transition: all 0.2s linear 0.05s; transform: translateY(0); }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .card-link { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 4; pointer-events: none; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner:hover { transition: all 0.2s linear 0.05s; transform: translateY(-2px); }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block p { font-size: 14px; color: var(--black2); margin: 0 0 7px; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block p span { color: var(--black1); font-weight: 500; }
.niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block p:last-child { margin: 0; }
.bg-shape-section { background-repeat: no-repeat; background-position: right -60px center; background-size: contain; background-image: url(../images/cloud-prop.svg); }
.niveshaay-pick-smallcase .slick-dots { display: none !important; }

/* Twitter Section */
.twitter-feeds-section { overflow: hidden; }
.twitter-feeds-section .slick-list { margin: 0 -7.5px; }
.twitter-feeds-section.niveshaay-section-paddding { padding: 0 0 40px; }
.twitter-feeds-section h2.heading-title { margin-bottom: 12px !important; }
.twitter-feeds-section .twitter-feeds-content { padding: 10px 10px; }
.twitter-feeds-section .twitter-feeds-content .feeds-content-inner { background-color: var(--white); padding: 17px; border-radius: 4px; box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 5%), 0 4px 10px 0 rgb(0 0 0 / 7%); }
.twitter-feeds-section .twitter-feeds-content .feeds-content-inner .twitter-content-wrapper span { display: block; }
.twitter-feeds-section .feeds-content-inner .feeds-image-wrapper { position: relative; margin-bottom: 14px; }
.twitter-feeds-section .feeds-content-inner .twitter-content-wrapper { font-size: 13px; }
.twitter-feeds-section .feeds-content-inner .feeds-image-wrapper .twitter-img { position: absolute; right: 10px; top: 5px; width: 21px; height: 17px; }
.twitter-feeds-section .feeds-content-inner .feeds-image-wrapper .twitter-profile { display: flex; padding: 0 40px 0 0; }
.twitter-feeds-section .feeds-content-inner .feeds-image-wrapper .twitter-profile p { padding-left: 11px; font-size: 12px; font-weight: bold; color: var(--black1); font-family: 'Public Sans', sans-serif; line-height: 1.4; }
.twitter-feeds-section .feeds-content-inner .feeds-image-wrapper .twitter-profile p span { font-weight: normal; display: block; font-family: 'Public Sans', sans-serif; }
.twitter-feeds-section .feeds-content-inner .feeds-image-wrapper .twitter-profile em { border-radius: 50%; width: 35px; height: 35px; display: block; }
.twitter-feeds-section .feeds-content-inner .feeds-image-wrapper .twitter-profile em img { border-radius: 50%; height: 100%; width: 100%; object-fit: cover; }
.twitter-feeds-section .feeds-content-inner .twitter-content-wrapper p { font-size: 14px; font-weight: 600; line-height: 1.57; color: var(--black1); }
.twitter-feeds-section .feeds-content-inner .twitter-content-wrapper a { font-weight: 600; font-family: 'Public Sans', sans-serif; font-size: 14px; }
.list-catagory-section.featured-on .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item .item-img-wrapper img { object-fit: cover; transform: none !important; }
.list-catagory-section.featured-on .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item { box-shadow: 0 0 2px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 5%), 0 4px 10px 0 rgb(0 0 0 / 7%); border-radius: 4px; overflow: hidden; transition: all 0.2s linear 0.05s; transform: translateY(0); }
.list-catagory-section.featured-on .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item:hover { transform: translateY(-2px); }
.list-catagory-section.niveshaay-research-block.has-left-content .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item .item-content-wrapper .item-inner-content { margin: 3px 0 0; }
.list-catagory-section.niveshaay-research-block.has-left-content .list-catagory-wrapper .list-wrapper .list-inner-wrapper .list-item-wrapper .list-item .item-content-wrapper { margin: 10px 0 0; }
.niveshaay-welcome-block.nivesh-shiksha .nivesh-shiksha-content-wrapper { display: flex; align-items: center; justify-content: space-between; border-radius: 20px; background-color: var(--white1); padding: 40px; }
.niveshaay-welcome-block.nivesh-shiksha .nivesh-shiksha-heading h2 { width: 230px; }
.niveshaay-welcome-block.nivesh-shiksha .nivesh-shiksha-heading { max-width: 50%; flex: 0 0 50%; }
.niveshaay-welcome-block.nivesh-shiksha .right-img { max-width: 50%; flex: 0 0 50%; padding-left: 50px; text-align: right; }

/*media-css*/
@media(max-width:1360px) {
    .slick-arrow.slick-prev { left: -7px; }
    .slick-arrow.slick-next { right: -38px; }
    .niveshaay-client .slick-list { margin: -10px -15px; }
    .niveshaay-client .niveshaay-client-content { padding: 10px 15px; }
    .slick-arrow { height: 21px; width: 28px; background-size: 28px 21px !important; }
 }
    @media(max-width:1280px) {
        .twitter-feeds-section .slick-arrow, .list-catagory-section.niveshaay-research-block .slick-arrow, .niveshaay-client .slick-arrow { display: none !important; }
        .twitter-feeds-section .slick-dots, .list-catagory-section.niveshaay-research-block .slick-dots, .niveshaay-client .slick-dots {    bottom: -35px; }
        .twitter-feeds-section.niveshaay-section-paddding { padding: 0 0 40px; }
        .niveshaay-research-block.niveshaay-section-paddding { padding: 40px 0 40px; }
    }
    @media(max-width:1199px) {
        .main-wrapper { padding-top: 70px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider { min-height: calc(100vh - 70px); }
        .niveshaay-client .niveshaay-client-content .client-content-wrapper .content-wrapper { margin: 0 0 15px; }
        .niveshaay-client .niveshaay-client-content .client-content-wrapper .content-wrapper p { font-size: 16px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content h2 { font-size: 40px; line-height: 1.2; margin-bottom: 10px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content p { max-width: 800px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content p span { display: inline; }
        .home-page-banner-section .slick-arrow.slick-next { right: 30px; }
        .home-page-banner-section .slick-arrow.slick-prev { left: 50px; }
        .niveshhay-table-responsive table thead th, .niveshhay-table-responsive table tbody td { font-size: 16px; padding: 10px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner { padding: 30px 20px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block { padding-left: 20px; }
    }
    @media (max-width:1024px) {
        .home-page-banner-section.loaded .banner-slider-wrapper .home-banner-slider { height: 300px; }
        .niveshaay-welcome-block .welcome-block-wrapper.has-border-bottom p { font-size: 18px; }
        .niveshaay-welcome-block .welcome-block-wrapper.has-border-bottom { padding: 20px 0 30px; }
        .niveshaay-research-block.featured-on.niveshaay-section-paddding, .niveshaay-client.niveshaay-section-paddding { padding: 30px 0 10px; }
        .niveshaay-pick-smallcase.niveshaay-section-paddding, .niveshaay-research-block.niveshaay-section-paddding { padding: 30px 0; }
        .niveshaay-complaints-section.niveshaay-section-paddding { padding: 30px 0 60px; }
        .twitter-feeds-section.niveshaay-section-paddding { padding: 0 0 30px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner h3 { max-width: 100%; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block .right-inner-content .description-block { flex: 0 0 100%; max-width: 100%; margin: 0 0 10px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block .right-inner-content { align-items: flex-end; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .info-list { flex: 1; max-width: 100%; margin: 0 -10px -10px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block .right-inner-content .button-block { flex: 0 0 140px; max-width: 140px; text-align: right; }
    }
    @media (max-width:992px) {
        .home-page-banner-section .slick-arrow { display: none !important; }
        .niveshaay-welcome-block ul { flex-wrap: wrap; margin: 20px 0 -15px; }
        .niveshaay-welcome-block ul li { flex: 0 0 50%; max-width: 50%; margin-bottom: 10px; }
        .niveshaay-home-welcome-block { background-size: cover; background-position: center; }

        .niveshaay-siksha .siksha-grid-wrapper { margin: 0 -10px; }
        .niveshaay-siksha .siksha-grid-wrapper .siksha-grid-item { padding: 0 10px; }
        .niveshaay-siksha .siksha-grid-wrapper .siksha-grid-item .siksha-grid-inner { padding: 15px; }
        .nivesh-shiksha.niveshaay-section-paddding .nivesh-shiksha-content-wrapper { flex-wrap: wrap; }
        .niveshaay-welcome-block.nivesh-shiksha .nivesh-shiksha-heading { flex: 0 0 100%; max-width: 100%; }
        .niveshaay-welcome-block.nivesh-shiksha .right-img { flex: 0 0 100%; max-width: 100%; padding: 0; text-align: center; margin-top: 30px; }

        .niveshaay-news .heading-title.niveshaay-section-title { margin-bottom: 20px !important; }
        .niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-wrapper .tab-heading li, .niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-outer-wrapper .tab-heading-wrapper span { font-size: 15px; }
        .niveshaay-complaints-section .complaints-tab-content-wrapper { padding: 20px 15px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul li { font-size: 16px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .img-block { margin: 0 0 15px; }
    }
    @media(max-width:767px) {
        .niveshaay-welcome-block .welcome-block-wrapper.has-border-bottom p { font-size: 16px; }
        .niveshaay-client .niveshaay-client-content .client-content-wrapper { padding: 20px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content { padding: 0 25px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content p { font-size: 16px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content h2 { font-size: 34px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul li+li { margin-left: 0; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-image { position: relative; width: 100%; height: auto; min-height: 300px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-image img { position: absolute; left: 0; top: 0; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content { position: absolute; top: 50%; transform: translateY(-50%); }
        .home-page-banner-section.loaded .banner-slider-wrapper .home-banner-slider { min-height: inherit !important; height: auto; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul { flex-direction: column; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content p { font-size: 16px; }
        .home-page-banner-section .banner-slider-wrapper .home-banner-slider .home-banner-content ul li:before { top: 8px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item { flex: 0 0 100%; max-width: 100%; padding: 0; margin: 0 0 30px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner h3 { font-size: 18px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .info-list li span { font-size: 16px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner { padding: 15px; }
        .niveshaay-pick-smallcase .smallcase-grid { margin: 0 0 -30px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .img-block { flex: 0 0 70px; max-width: 70px; padding-top: 4px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block { flex: 0 0 calc(100% - 70px); max-width: calc(100% - 70px); padding-left: 20px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .smallcase-badge { bottom: 15px; }
        .nivesh-shiksha.niveshaay-section-paddding .nivesh-shiksha-content-wrapper { padding: 25px; }
        .niveshaay-welcome-block.nivesh-shiksha .nivesh-shiksha-heading h2 { max-width: 180px; }
        .niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-outer-wrapper p { font-size: 20px; }
        .niveshaay-research-block.featured-on.niveshaay-section-paddding { padding: 30px 0 10px; }
        .list-catagory-section.niveshaay-research-block.featured-on .slick-dots { bottom: -62px; }
        .twitter-feeds-section .slick-dots, .list-catagory-section.niveshaay-research-block .slick-dots, .niveshaay-client .slick-dots { display: none !important; }
    }
    @media screen and (max-width:575px) {
        .niveshaay-welcome-block ul li { flex: 0 0 100%; max-width: 100%; }
        .niveshaay-siksha .siksha-grid-wrapper { flex-wrap: wrap; margin: 0 0 -20px; }
        .niveshaay-siksha .siksha-grid-wrapper .siksha-grid-item { flex: 0 0 100%; max-width: 100%; margin: 0 0 20px; padding: 0; }
        .niveshaay-siksha .siksha-grid-inner h3 { height: auto !important; }
        .niveshaay-complaints-section .niveshaay-complaints-content .complaints-tab-content-wrapper .tab-heading-outer-wrapper { flex-wrap: wrap; }
        .niveshaay-complaints-section .niveshaay-complaints-content .tab-heading-outer-wrapper p { max-width: 100%; flex: 0 0 100%; margin-bottom: 10px; }
        .niveshaay-complaints-section .niveshaay-complaints-content .heading-title.style-3 { padding-bottom: 10px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .top-block, .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .content-block-inner { height: auto !important; }
        .nivesh-shiksha.niveshaay-section-paddding .nivesh-shiksha-content-wrapper { padding: 20px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner .info-list { flex: 1; max-width: 100%; margin: 0 -10px; flex-wrap: wrap; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block .right-inner-content .button-block { flex: 0 0 100%; max-width: 100%; text-align: left; }
    }
    @media (max-width:375px) {
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block { flex-direction: column; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .img-block { padding-bottom: 0; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .right-content-block { padding-left: 0; flex: 0 0 100%; max-width: 100%; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .grid-inner { padding-bottom: 55px; }
        .niveshaay-pick-smallcase .smallcase-grid .grid-item .title-block .img-block { max-width: 100%; padding-top: 0; }
    }
