.profile-page-banner-section { position: relative; display: flex; align-items: center; padding-bottom: 21.1%; padding-top: 0; min-height: inherit; }
.profile-page-banner-section .container { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; padding: 0 30px; }
.profile-page-banner-section .bg-img { position: absolute; left: 0; top: 0; height: 100%; width: 100%; }
.profile-page-banner-section .bg-img img { width: 100%; height: 100%; object-fit: cover; }
.profile-section.niveshaay-section-paddding { padding: 0 0 100px; }
.profile-section { margin-top: -60px; position: relative; }
.profile-section .profile-info .profile-info-wrapper { text-align: center; }
.profile-section .profile-info .profile-info-wrapper em.profile-image { display: block; height: 124px; width: 124px; margin: 0 auto; }
.profile-section .profile-info .profile-info-wrapper em.profile-image img { border-radius: 50%; height: 124px; width: 124px; object-fit: cover; }
.profile-section .profile-info .profile-info-wrapper .title-wrapper { display: flex; justify-content: center; align-items: center; margin-top: 2px; }
.profile-section .profile-info .profile-info-wrapper .title-wrapper h2 { font-size: 30px; font-weight: 700; margin-right: 17px; color: var(--black1); }
.profile-section .profile-info .profile-info-wrapper .title-wrapper a { line-height: 1; }
.profile-section .profile-info .profile-info-wrapper .title-wrapper a:hover svg .st0 { fill: var(--black1); }
.profile-section .profile-info .profile-info-wrapper .contact-info { display: flex; justify-content: center; }
.profile-section .profile-info .profile-info-wrapper .contact-info li a { color: var(--black1); font-size: 16px; transition: all 0.3s; -webkit-transition: all 0.3s; }
.profile-section .profile-info .profile-info-wrapper .contact-info li a:hover { color: var(--green); }
.profile-section .profile-info .profile-info-wrapper .contact-info li+li { position: relative; padding-left: 20px; }
.profile-section .profile-info .profile-info-wrapper .contact-info li+li:before { position: absolute; content: ''; height: 17px; width: 1px; background-color: var(--black1); top: 50%; transform: translateY(-50%); left: 9px; }
.profile-section .profile-info .table-outer-wrapper { margin-top: 49px; display: flex; margin: 40px -15px 0; }
.profile-section .profile-info .table-outer-wrapper .table-wrapper { max-width: 50%; flex: 0 0 50%; padding: 0 15px; }
.profile-section .profile-info .table-outer-wrapper .table-wrapper h3 { font-size: 22px; font-weight: 600; color: var(--black1); margin-bottom: 26px; }
.profile-section .profile-info .table-outer-wrapper .table-wrapper .table { width: 100%; box-shadow: 0px 6px 8px 0 rgba(0, 0, 0, 0.05); border: solid 1px var(--white3); background-color: var(--white); border-bottom: none; }
.profile-section .profile-info .table-outer-wrapper .table-wrapper .table thead th { font-size: 18px; font-weight: 600; text-align: left; color: var(--black1); padding: 17px 21px; background-color: var(--white4); }
.profile-section .profile-info .table-outer-wrapper .table-wrapper .table tr { border-bottom: 1px solid var(--white3); }
.profile-section .profile-info .table-outer-wrapper .table-wrapper .table tbody td { color: var(--black1); font-size: 16px; padding: 15px 21px; text-align: left; }
input[readonly] { background-color: var(--light-white3) !important; }

/* media css */
@media(max-width:1280px) {
    .profile-section .profile-info .table-outer-wrapper .table-wrapper .table thead th { padding: 15px; }
    .profile-section .profile-info .table-outer-wrapper .table-wrapper .table tbody td { padding: 15px; }
    .profile-section .profile-info .table-outer-wrapper .table-wrapper h3 { margin-bottom: 15px; }
}
@media(max-width:1199px) {
    .profile-section .profile-info .table-outer-wrapper .table-wrapper .table thead th, .profile-section .profile-info .table-outer-wrapper .table-wrapper .table tbody td { padding: 15px 10px; }
    .profile-section.niveshaay-section-paddding { padding: 0 0 80px; }
}
@media(max-width:991px) {
    .profile-section.niveshaay-section-paddding { padding: 0 0 50px; }
    .profile-section .profile-info .table-outer-wrapper { flex-wrap: wrap; margin: 30px 0 0; }
    .profile-section .profile-info .table-outer-wrapper .table-wrapper { max-width: 100%; flex: 0 0 100%; padding: 0; overflow: auto; }
    .profile-section .profile-info .table-outer-wrapper .table-wrapper+.table-wrapper { margin-top: 30px; }
    .profile-section .profile-info .table-outer-wrapper .table-wrapper .table { min-width: 574px; }
}
@media(max-width:767px) {
    .profile-page-banner-section { min-height: 200px; }
    .profile-page-banner-section .container { padding: 0 15px; }
    .profile-section .profile-info .profile-info-wrapper .title-wrapper h2 { font-size: 28px; margin-right: 10px; }
    .profile-section { margin-top: -50px; }
    .profile-section .profile-info .profile-info-wrapper em.profile-image, .profile-section .profile-info .profile-info-wrapper em.profile-image img { height: 100px; width: 100px; }
}
@media (max-width:575px) {
    .profile-section .profile-info .profile-info-wrapper .contact-info { flex-wrap: wrap; }
    .profile-section .profile-info .profile-info-wrapper .contact-info li { flex: 0 0 100%; max-width: 100%; }
    .profile-section .profile-info .profile-info-wrapper .contact-info li+li { padding-left: 0; padding-top: 5px; }
    .profile-section .profile-info .profile-info-wrapper .contact-info li+li:before { display: none; }
}
